body {
    background-color: #333;
    color: #fff;
}

button,
input {
    border-radius: 3px;
    border: none;
}

button {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #fff;
    color: #333;
    transition: .3s ease;
}

button:hover:not(:disabled) {
    cursor: pointer;
    background-color: rgb(223, 223, 223);
}

button:disabled {
    cursor: not-allowed;
    opacity: .6;
}

input {
    padding: 5px;
    margin: 0 5px 0 5px;
}